[Unit]
Description=Sumo Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/sumo/sumokoind --rpc-bind-ip 127.0.0.1 --rpc-bind-port 18081 --detach
Restart=always
User=sumodaemon

[Install]
WantedBy=multi-user.target
